.deps/
.libs/
.*.swp
Makefile
Makefile.in
aclocal.m4
compile
configure
config.*
debian
depcomp
/docs/reference/html/
/docs/reference/libsignon-glib*
!/docs/reference/libsignon-glib-sections.txt
/docs/reference/tmpl/
/docs/reference/xml/
gtk-doc.make
install-sh
/libsignon-glib/signon-errors-map.c
/libsignon-glib/signon-marshal.c
/libsignon-glib/signon-marshal.h
/libsignon-glib/sso-*-gen.*
libtool
ltmain.sh
m4/gtk-doc.m4
m4/libtool.m4
m4/lt*.m4
missing
patches/
/py-compile
stamp-h1
*~
*.cache
*.gir
*.la
*.lo
*.o
*.pc
*.stamp
*.typelib
*.tar.*
